body, ul, li, h1, h2, a{
    margin: 0;
    padding: 0;
}
header{
    background-color: blueviolet;
    padding: 18px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
header h1{
    font-size: 40px;
    color: yellow;
    border: 4px solid black;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 33px;
}
.welcome{
    max-width: 100%;
    position: relative;
    left: 0;
    top: 66px;
    text-align: center;
}
.welcome img{
    max-width: 100%;
    width: 1400px;
}
.welcome div{
    position: absolute;
    left: 10px;
    top: 5%;
    color: yellow;
    background-color: rgb(8, 39, 69);
    padding: 6px 20px;
    text-align: center;
}
.welcome h2{
    font-size: 20px;
    text-align: center;
}
.welcome span{
    font-size: 30px;
}
nav{
    position: sticky;
    z-index: 1;
    background-color: gainsboro;
    padding: 20px;
    top: 100px;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 26%;
    display: inline-block;
    font-size: 20px;
}
nav li a{
    text-decoration: none;
}
nav li .google{
    color: blue;
}
nav li .instagram{
    color: rgb(167, 25, 106);
}
nav li .reddit{
    color: red;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 50px auto;
    padding: 0, 40px;
    box-sizing: border-box;
}
article h2{
    color: darkblue;
    font-size: 30px;
}
article p{
    line-height: 2em;
    color: gray;
}
.images{
    text-align: center;
    margin: 80px auto;
    white-space: nowrap;
}
.images li{
    display: inline-block;
    width: 40%;
    margin: 20px 5%;
}
.images li img{
    max-width: 100%;
}
.second{
    text-align: center;
    background-color: #F4F4F4;
    margin: 20px auto;
    padding: 40px 20px;
}
.second h3{
    color: blueviolet;
    font-size: 30px;
    text-decoration: underline;
}
.second p{
    color: black;
}
form input{
    margin: 20px;
    padding: 10px 20px;
    font-size: 25px;
    border: 4px solid black;
    border-radius: 30px;
}
footer{
    text-align: center;
    background-color: blueviolet;
    color: yellow;
    padding: 10px;
}
nav li a:hover{
    background-color: rgb(219, 183, 237);
    padding: 20px;
    color: rgb(112, 93, 7);
    font-size: 25px;
}
.images li:hover{
    position: relative;
    top: -4px;
}
form input:focus{
    border: 4px dashed black;
    outline: none;
}
form input:valid{
    border: 4px dashed purple;
}
p::selection{
    background-color: blueviolet;
    color: yellow;
}

@media screen and (max-width: 1000px){
    header{
        padding: 14px;
    }
    .welcome div h2{
        font-size: 18px;
    }
}

@media screen and (max-width: 815px){
    header{
        padding: 10px;
    }
    .welcome div h2{
        font-size: 15px;
    }
    nav li{
        width: 25%;
    }
    nav li a:hover{
        padding: 10px;
        font-size: 23px;
    }
}

@media screen and (max-width: 650px){
    header{
        position: relative;
    }
    .welcome{
        top: 0px;
    }
    .welcome .message{
        position: relative;
        top: -5px;
        left: 0;
    }
    .welcome .message span{
        font-size: 1em  ;
    }
    .welcome div h2 br{
        display: none;
    }
    nav{
        top: 1px;
    }
    nav li{
        display: block;
        width: 100%;
        margin: 12px auto;
    }
    .images li{
        width: 100%;
        margin: 20px auto;
        display: block;
    }
    nav li a:hover{
        padding: 10px;
        font-size: 20px;
    }
}